body {
    margin: 60px auto;
    width: 70%;
    background-color: white;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color : #808080;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
}
h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 14px
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-family:'Helvetica','Arial','San-Serif';
}
h4 {
    font-family: 'Helvetic','Arial','San-Serif';
}
h5 {
    font-family: 'Helvetic','Arial','San-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.dotted { 
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
}
